<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <aside>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/players">All players</a>
        </li>
        <li>
          <a href="/finishes">All finishes</a>
        </li>
        <br />
        <li>
          <a href="/players/create">Create player</a>
        </li>
      </ul>
    </aside>
    <main>Homepage</main>
  </body>
</html>
